# Format
black==21.11b1
codespell~=2.1.0
flake8~=4.0
isort~=5.9
len8~=0.5
mypy==0.910

# Tests
coverage~=6.0
pytest~=6.2; python_version <= "3.10"
git+https://github.com/pytest-dev/py; python_version == "3.11"
pytest-testdox~=2.0

# Safety
safety~=1.10.0
